<div class="twelve columns">
  <h2><%= @user.full_name %></h2>
</div>

<div class="twelve columns">
  <div class="avatar two columns th">
    <%= image_tag @user.image.url %>
    <div id="follow-button">
      <% if @auth && @auth.following?(@user) %>
        <%=j button_to('Unfollow', unfollow_path(:user_id => @user.id), :class => 'button', :method => :post, :remote => true) %>
      <% else %>
        <%= button_to('Follow', follow_path(:user_id => @user.id), :class => 'button', :method => :post, :remote => true) %>
      <% end %>
    </div>
  </div>

  <div id="courses_by" class="ten columns end">
    <h2>Courses By This User</h2>
    <ul class="unstyled">
      <% @courses_by.each do |course| %>
        <%= render :partial => 'shared/coursediv', :locals => { :course => course }  %>
      <% end %>
    </ul>
    <%= paginate @courses_by %>
  </div>

</div>