<div class="note twelve columns panel">
  <div class="avatar two columns">
    <%= link_to image_tag(note.user.image), note.user %>
  </div>
  <div class="ten columns">
    <div class="twelve columns">
      <%= link_to note.user.full_name, note.user %> wrote on 
      <%= note.created_at.strftime("%d %b %Y") %>
    </div>
    <div class="twelve columns">
      <h4><%= note.subject %></h4>
    </div>
    <div class="twelve columns">
      <%= note.content %>
    </div>
  </div>
</div>