<div class="twelve columns">
 <h2>Dashboard for <%= @auth.try(:full_name) %></h2>
</div>
<div class="twelve columns">
  <div class="avatar two columns th">
    <%= image_tag @auth.image.url %>
    <%= render :partial => 'shared/followbox', :locals => { :user => @auth }  %>
  </div>
  
  <% if @auth.courses.any? %>
    <div id="user_courses" class="five columns">
        <h3>Your Saved Courses</h3>
          <ul class="accordion">
          <% @auth.courses.each do |course| %>
              <li>
                <div class="title">
                  <%= link_to course.title, course %>
                </div>
                <div class="content">
                  <h4>Notes</h4>
                  <% notes_array = Note.where(:course_id => course.id).where(:user_id => @auth.id) %> 
                  <% notes_array.each do |note| %>
                    <%= render :partial => 'shared/yournote', :locals => { :note => note }  %>
                  <% end %>
                </div>
              </li> 
          <% end %>
          </ul>
    </div>
  <% else %>
    <div id="courses" class="five columns">
      <h3>You Haven't Saved Any Courses Yet! Try This One:</h3>
      <% @sample.each do |course| %>
        <div class="course_div twelve columns th" id="big_course_div">
          <div class="course_pill panel">
            <%= link_to image_tag(course.image.url), course %>
            <h4><%= link_to course.title, course%></h4>
            <% category = course.categories.first %>
            <span class="votes">
              <span class="glyph social">a</span> <%= course.votes_for %> <span class="glyph social">b</span> <%= course.votes_against %>
            </span>
            <div class="category"><%= link_to category.name, category  %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div id="activity" class="five columns">
    <div class="twelve columns">
      <h3>Recent Activity</h3>
    </div>
    <div class="twelve columns">
      <% if @events.any? %>
        <ul class="unstyled">
          <% @events.each do |event| %>
            <% user = User.find(event.user_id) %>
            <% course = Course.find(event.course_id) %>
            <li>
              <div class="twelve columns panel">
                <div class="eight columns">
                  <%= link_to user.full_name, user %> <%= event.event %><br>
                  <%= link_to course.title, course %>
                </div>
                <div class="four columns">
                  <%= event.created_at.strftime("%d %b %Y") %>
                </div>  
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No activity yet! Follow some <%= link_to 'users', usersearch_path %>!</p>
      <% end %>
    </div>
  </div>
</div>