
<div id="home_splash" class="twelve columns">

  <div class="six columns offset-by-one">
    <h1>Learn anything, anywhere.</h1>
    <h3><%= number_with_delimiter(@course_count) %> free courses</h3>
    <h3><%= number_with_delimiter(@hours) %> hours of learning</h3>
    <h3>Share notes, follow friends</h3>
  </div>

  <div class="four columns" id="login_reg">
    <h2>Register</h2>
    <%= render 'shared/register' %>


    <h2>Login</h2>
    <%= form_tag '/login', :class => 'form-inline' do %>
      <%= text_field_tag 'email', nil, :placeholder => "Email", :class => 'input-medium' %>
      <%= password_field_tag 'password', nil, :placeholder => "Password", :class => 'input-medium' %>
      <%= submit_tag 'Login', :class => 'btn' %>
    <% end %>

    <a href="/auth/twitter" class="round button"><span class="glyph social">e</span> Twitter</a>
  </div><!--four columns-->

  <div class ="one columns">
  </div>

</div>

<!--end top row-->

  <div class="twelve columns" id="popular">
    <h2>Most Popular Courses</h2>
  </div>

  <div class="six columns">
    <div class="course_div twelve columns th" id="big_course_div">
      <div class="course_pill panel">
        <%= link_to image_tag(@most_popular.image.url), @most_popular %>
        <h4><%= link_to @most_popular.title, @most_popular %></h4>
        <% category = @most_popular.categories.first %>
        <span class="votes">
          <span class="glyph social">a</span> <%= @most_popular.votes_for %> <span class="glyph social">b</span> <%= @most_popular.votes_against %>
        </span>
        <div class="category"><%= link_to category.name, category  %></div>
      </div>
    </div>
  </div>
  <div class="six columns">
    <% @next_most_popular.each do |course| %>
      <%= render :partial => 'shared/bigcoursediv', :locals => { :course => course }  %>
    <% end %>
  </div>

