<div class="twelve columns">

<%=  form_tag(courses_path, :multipart => true) do %>  

  <div class="six columns">

    <fieldset>

      <legend>Course Information</legend>
    
      <div class="field">
        <%= label_tag 'title' %>
        <%= text_field_tag 'title' %>
      </div>

      <div class="field">
        <%= label_tag 'category' %>
        <%= text_field_tag 'category' %>
      </div>

      <div class="field">
        <%= label_tag 'description' %>
        <%= text_area_tag 'description', nil, :rows => "5" %>
      </div>

      <div class="field">
        <%= label_tag 'course_image' %>
        <%= file_field_tag 'course_image' %>
        <%= hidden_field_tag 'image_cache' %> 
        <%= text_field_tag 'remote_image_url', nil, :placeholder => "Or enter a url" %>
      </div>

      <div class="field">
        <%= image_tag( @course.image.thumb.url, :class => "edit-image")  if  @course.image? %>
      </div>
    
    </fieldset><!-- course info fieldset -->

    <div class="submit"><%= submit_tag %></div>

  </div>

    <div class="six columns">
     
      <fieldset>
        <legend>Add Media</legend>

        <div class="field">
          <input type="button" id="add_video" value="Add Video">
          <input type="button" id="add_ebook" value="Add Ebook" >
          <input type="button" id="add_audio" value="Add Audio">
        </div>

      </fieldset>

      <%= render 'shared/addvideo' %>
      <%= render 'shared/addebook' %>
      <%= render 'shared/addaudio' %>

    </div><!--end right six columns -->

  </div><!--end 12 column row-->

<% end %>
