<h1><%= @course.title %></h1>

<div class="clearfix">

  <% if @course.videos.any? %>
    <%= render :partial => 'shared/video', :locals => {:video => @course.videos.first.link} %>
  <% end %>

  <div id="course-image">
  <%= image_tag @course.image.url, :class => "img-polaroid" %>
  </div>


  <%= link_to 'Edit', edit_course_path %> | 
  <%= link_to 'Delete', @course, data: { confirm: 'Are you sure?' }, :method => :delete %>

    <div id="course-description" class="well">
      <h2>Description</h2>
      <%= @course.description %>
    </div>
  </div>
</div>
